<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#" class="brand-logo">
      <!-- <i class="material-icons-outlined">business</i>
      <i class="material-icons-outlined">apartment</i>
      <br>
      <i class="material-icons-outlined">location_city</i> -->
      <i class="material-icons-outlined">house</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/Deliveries">Deliveries</a></li>
      <li><a href="/KeyStore">KeyStore</a></li>
    </ul>
  </div>
</nav>