  <div class="leftNav">
    <ul class="indigo darken-4">
      <li>
        <a href="/dashboardPage">DashBoard Page</a>
      </li>
      <li>
        <a href="/Deliveries">Deliveries</a>
      </li>
      <li>
        <a href="/KeyStore">Key Store</a>
      </li>
      <li>
        <a href="/Admin">Admin</a>
      </li>
    </ul>
  </div>