<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="/" class="brand-logo">
      <i class="material-icons-outlined small">house</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/dashbaordPage">
          <i class="material-icons-outlined small">flight_land</i>
        </a>
      </li>
      <li>
        <a href="/Deliveries">
          <i class="material-icons-outlined small">local_shipping</i>
        </a>
      </li>
      <li>
        <a href="/KeyStore">
          <i class="material-icons-outlined small">vpn_key</i>
        </a>
      </li>
      <li>
        <a href="/Admin">
          <i class="material-icons-outlined small">admin_panel_settings</i>
        </a>
      </li>
    </ul>
  </div>
</nav>