<header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <a href="/">
          <i class="material-icons-outlined">business</i>
          <i class="material-icons-outlined">apartment</i>
          <br>
          <i class="material-icons-outlined">location_city</i>
          <i class="material-icons-outlined">house</i>
        </a>
      </div>
      <h2 class="align-left"><%= pageTitle %></h2>
    </div>
  </div>
    
</header>