<!DOCTYPE html>

<%- include('partials/_htmlHead.ejs', {pageTitle:'Admin Page'} ) %>




<body class=" indigo lighten-4">
    <%- include('partials/_pageHeader.ejs', {pageTitle:'Admin Page'} ) %>
    
    <div class="container">
      <main>
        <div class="row red">
          <div class="col s2 blue">
            Nav
          </div>
          <div class="col s10 green">
            PageContent
          </div>
        </div>
      </main>
    </div>
    <%- include('partials/_pageFooter.ejs' ) %>
    

  <script type="text/javascript" src="js/materialize.min.js"> </script>
  <!-- <script type="text/javascript" src="js/main.js"></script> -->
    
</body>
</html>