
    <div class="container">
      <main>
        <div class="row red">
          <div class="col s2 blue">
            Nav
          </div>
          <div class="col s10 green">
            PageContent
          </div>
        </div>
      </main>
    </div>