<main class="indigo lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <div class="shaker">
              <h1 class="indigo-text darken-4 shaker" tabindex="1">BUILDING<br>MANAGEMENT<br>APP</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 offset-s3 center-align">
            <a href="/login" class="btn waves-effect waves-light indigo lighten-1"> Login</a>
            <a href="/signUp" class="btn waves-effect waves-light indigo lighten-1">Sign Up</a>
          </div>
        </div>
      </div>
    </main>