<!DOCTYPE html>

<%- include('partials/_htmlHead.ejs', {pageTitle:'Sign Up - BMA'} ) %>




<body class=" indigo lighten-4">
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                  <h1>BUILDING<br>MANAGEMENT<br>APP</h1>
                </div>
            </div>
            <div class="row">
              <form class="col s12 myBorder" action="/login" method="POST">
                <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">alternate_email</i>
                    <input id="email" name="email" type="text" class="validate">
                    <label for="email">Email Address</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">password</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s8">
                    <button type="submit" class="btn waves-effect waves-light indigo lighten-1">Login</button>
                  </div>
                  </div>
              </form>
            </div>
            
        </div>
    </main>

    <%- include('partials/_pageFooter.ejs' ) %>

   

  <script type="text/javascript" src="js/materialize.min.js"> </script>
  <!-- <script type="text/javascript" src="js/main.js"></script> -->
    
</body>
</html>