    <main class=" indigo lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                  <h1 class="indigo-text darken-4">BUILDING<br>MANAGEMENT<br>APP</h1>
                </div>
            </div>
            <div class="row">
              <!-- <form class="col s12 z-depth-4" action="/signUp" method="POST"> -->
              <form class="col s12 z-depth-4" action="/dashboardPage" method="GET">
                <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">alternate_email</i>
                    <input id="email" name="email" type="text" class="validate">
                    <label for="email">Email Address</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">password</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">password</i>
                    <input id="confPassword" name="confPassword" type="password" class="validate">
                    <label for="confPassword">Confirm Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6 offset-s8">
                    <button type="submit" class="btn waves-effect waves-light indigo lighten-1">Submit</button>
                  </div>
                  </div>
              </form>
            </div>
            
        </div>
    </main>